.common__section5{
    background: linear-gradient(rgba(15, 184, 214, 0.45), rgba(255, 209, 0, 0.45)),
    url('../assets/images/Yellow_Pages_Color.png') no-repeat center center;
    
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
    ;
}

.common__section5 h1 {
    font-size: 2.5rem;
    color: #fff;
}